<template>
  <div class="main">
    <router-view v-slot="{ Component, route }">
      <transition :name="transitionName">
        <template  v-if="route.meta.keepAlive">
          <keep-alive>
            <component   :is="Component"/>
          </keep-alive>
        </template>
        <template v-else>
          <component :is="Component" />
        </template>
      </transition>
    </router-view>
  </div>
</template>

<script setup >
import { ref , watch } from 'vue';
import { RouterView ,useRoute , useRouter } from 'vue-router';
import { userStatusStore } from '@/stores/userStatus.js';
const userStatus = userStatusStore()
const route = useRoute();

const transitionName = ref('slide_left')
const isKeepAlive = ref(false)
const initIndex = ref(-1)

watch(
  route,()=>{
    if(route.meta.index > initIndex.value){
      transitionName.value = 'slide_left'
    } else 
    {
      transitionName.value = 'slide_right'
    }
    initIndex.value = route.meta.index 
    userStatus.isShowBottomIndex = route.meta.showBottomTab 
    isKeepAlive.value = route.meta.keepAlive 
  }
)
</script>

<style scope lang="less">
.main{
position: relative;
width: 100%;
height: 100%;
overflow: auto;
}
</style>