<template>
    <div class="chatBox">
        <div class="header">
            <van-icon name="arrow-left" size="28" @click="router.go(-1)" />
            <div class="setting">
                <img :src="setting" alt="" @click="showRight = true" />
            </div>
        </div>
        <van-popup
            v-model:show="showRight"
            position="right"
            :style="{ width: '75%', height: '100%' }"
        />
    </div>
</template>

<script setup>
import {ref} from 'vue'
import { useRouter } from 'vue-router';
import setting from '@/assets/chat/setting.svg'

const router = useRouter();

const showRight = ref(false);
</script>

<style scoped lang="less">
.chatBox{
    position: relative;
    width: 100%;
    height: 100%;
    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 3px 1px  rgba(0,0,0,.1);
        .setting{
            width: 28px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
</style>