<template>
    <div class="bottom-tab" v-show="userStatus.isShowBottomIndex">
        <!-- 在这里写你想写的底部tab标签 -->

        <van-tabbar class="vantTabBar" v-model="userStatus.bottomTabIndex" active-color="#ee0a24" @change="toItem">
            <van-tabbar-item icon="home-o">首页</van-tabbar-item>
            <van-tabbar-item icon="photo-o">绘图</van-tabbar-item>
            <van-tabbar-item icon="user-o">我的</van-tabbar-item>
        </van-tabbar>
    </div>
</template>

<script setup>
import { ref } from "vue"
import { userStatusStore } from "@/stores/userStatus"
import { useRouter } from "vue-router"
const userStatus = userStatusStore()
const router = useRouter()

const toItem = (index) => {
    userStatus.bottomTabIndex = index
    if(index===0){
        router.push('/')
    }
    else if(index===1){
        router.push("/draw")
    }
    else{
        router.push('/user')
    }
}

</script>

<style scoped lang="less">
.bottom-tab{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -0.01rem 0.01rem 0 rgba(122, 117, 117, 0.1);
    background: #26292f;
    z-index: 100;
    position: relative;
    .vantTabBar{
        height: 100%;
        position: absolute;
    }
}
</style>