<template>
    <div class="user">
        <div class="user_header">
            <div class="user_header_imgBox">
                <img :src="avatarImg" />
            </div>
            <div class="user_header_nameBox">
                <span>sadhieuwuer</span>
                <van-icon class="renameIcon" name="edit" />
            </div>
        </div>

        <div class="user_content">
            <div class="user_content_box">
                <van-cell v-for="item in list" :title="item.title" :icon="item.iconName" is-link >
                </van-cell>
            </div>
            <div class="user_content_box">
                <van-cell v-for="item in list2" :title="item.title" :icon="item.iconName" is-link >
                </van-cell>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import avatarImg from "@/assets/11.jpg"

import {getGameList } from '@/api/user'


const initData = async() => {
    let res = await getGameList('/api/game/list?category=joker',{})
    console.log(res)
}
initData()

const list = ref([
    {
        title:"卡密兑换",
        iconName: "edit",
    },
    {
        title:"订单记录",
        iconName: "edit",
    },
    {
        title:"绘画记录",
        iconName: "edit",
    },
    {
        title:"问答记录",
        iconName: "edit",
    },
    {
        title:"修改用户信息",
        iconName: "edit",
    },
    {
        title:"智能币/会员套餐记录",
        iconName: "edit",
    },
])

const list2 = ref([
    {
        title:"关注公众号",
        iconName: "edit",
    },
    {
        title:"客服中心",
        iconName: "edit",
    },
    {
        title:"关于我们",
        iconName: "edit",
    },
    {
        title:"版本",
        iconName: "edit",
    },
])

</script>

<style scoped lang="less">
.user{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    overflow: auto;
    .user_header{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: antiquewhite;
        justify-content: center;
        // background-image: url(../../assets/11.jpg);
        .user_header_imgBox{
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            >img{
                width: 100%;
            }
        }
        .user_header_nameBox{
            margin-top: 10px;
            >span{
                font-size: 24px;
            }
            .renameIcon{
                font-size: 20px;
            }
        }
    }
    .user_content{
        border-radius: 20px;
        padding: 20px 20px 20px 20px; 
        background-color: #f7f7f7;
        .user_content_box{
            // margin-top: 20px;
            padding: 10px;
            border-radius: 20px;
            background-color: white;

        }
        .user_content_box:nth-child(2){
            margin-top: 20px;
        }
    }
}
</style>
