<template>
    <div class="home">
        <div class="homeBox">
            <div class="home_headerBox">
                <div class="home_header_avatarBox">
                    <img :src="avatar"/>
                </div>
                <p>AI问答写作系统</p>
            </div>
            <div class="home_btnBox">
                <van-button round icon="chat-o" type="success" @click="toChating">
                    立即提问
                </van-button>
                <van-button round icon="edit" type="success" @click="toPainting">AI绘画</van-button>
            </div>
        </div>
    </div>
</template>

<script setup>
import {ref} from "vue"
import { onActivated} from 'vue'
import avatar from "@/assets/11.jpg"
import { showToast } from 'vant';
import {useRouter} from 'vue-router'
const router = useRouter()

onActivated(() => {
//  console.info('缓存组件重新激活')
})

const toPainting = () => {
    showToast('功能开发中...');
}
const toChating = () => {
    router.push('/chat')
}
</script>

<style scoped lang="less">
.home{
    height: 100%;
    width: 100%;
        .homeBox{
            height: auto;
            width: 100%;
            position: absolute;
            top: 150px;
            .home_headerBox{
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .home_header_avatarBox{
                    height: 160px;
                    width: 160px;
                    border-radius: 50%;
                    background-color: gray;
                    overflow: hidden;
                    >img{
                        width: 100%;
                    }
                }
                >p{
                    margin-top: 10px;
                    font-size: 24px;
                    margin-bottom: 0px;
                }
            }
            .home_btnBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                >button{
                    margin-top: 20px;
                    width: 80%;
                }
            
            }
        }
}
</style>