<template>
  <div class="MainContent">
         <div class="body">
            <RouterView />
         </div>
        <bottomTab />
    </div>
</template>

<script setup>
import { ref , watch } from 'vue';
import { userStatusStore } from '@/stores/userStatus.js';

import { RouterView ,useRoute , useRouter } from 'vue-router';
import BottomTab from '@/components/bottomTab.vue';
const userStatus = userStatusStore()
const route = useRoute();

watch(
  route,()=>{
    // userStatus.bottomTabIndex = route.meta.index
    userStatus.isShowBottomIndex = route.meta.showBottomTab 
  }
)
</script>

<style scoped lang="less">
.MainContent{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    .body{
        width: 100%;
        flex: 1;
        overflow: auto;
    }
}
</style>
